@charset "UTF-8";
@import url(d:\Проекты\Filmoteka\node_modules\modern-normalize\modern-normalize.css);
.container {
  width: 989px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--font);
}

:root {
  --font: 'Roboto', sans-serif;
  --main_color: #ffffff;
  --bgcolor_main: #ff6b01;
  --text_color: #000000;
  --additional_text_color: #545454;
  --failed_color: #ff001b;
  --footer_bg_color: #f7f7f7;
}

/* loader styles */
.loader__square {
  width: calc(var(--f) * 2);
  height: calc(var(--f) * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.loader__square-item {
  width: calc(var(--f) - 4px);
  height: calc(var(--f) - 4px);
  border-radius: 20%;
  border: 1px solid white;
  -webkit-box-shadow: inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #a31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #a31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.loader__square-item:nth-child(1) {
  background-color: cornflowerblue;
  -webkit-animation: square-step-1 2s linear infinite;
          animation: square-step-1 2s linear infinite;
}

.loader__square-item:nth-child(2) {
  background-color: violet;
  -webkit-animation: square-step-2 2s linear infinite;
          animation: square-step-2 2s linear infinite;
}

.loader__square-item:nth-child(3) {
  background-color: yellowgreen;
  -webkit-animation: square-step-3 2s linear infinite;
          animation: square-step-3 2s linear infinite;
}

@-webkit-keyframes square-step-2 {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  8.3% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  24.9% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  33.2% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  49.8% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  58.1% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  74.7% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  83% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes square-step-2 {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  8.3% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  24.9% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  33.2% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  49.8% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  58.1% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  74.7% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  83% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes square-step-1 {
  8.3% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  16.6% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  33.2% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  41.5% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  58.1% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  66.4% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  83% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  91.3% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes square-step-1 {
  8.3% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  16.6% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  33.2% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  41.5% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  58.1% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  66.4% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  83% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  91.3% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes square-step-3 {
  16.6% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  24.9% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  41.5% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  49.8% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  66.4% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  74.7% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  91.3% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes square-step-3 {
  16.6% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  24.9% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  41.5% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  49.8% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  66.4% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  74.7% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  91.3% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

/* End loader styles */
.main__header {
  width: 1024px;
  height: 216px;
  background-image: url(/src/images/main_bg_image.jpg);
}

.main__header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-left: 66px;
  background-color: transparent;
  color: var(--main_color);
  border: none;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35px / 30px);
  cursor: pointer;
}

.main__header-logo::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(/src/images/film.svg);
  background-repeat: no-repeat;
  background-size: cover;
  fill: var(--additional_text_color);
}

.main__header-nav {
  margin-right: 32px;
}

.main__header-btn {
  background-color: transparent;
  color: var(--main_color);
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
}

.main__header-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  width: 336px;
  border-bottom: 0.5px solid var(--main_color);
}

.main__header-input input {
  display: block;
  background-color: transparent;
  border: none;
  width: calc(336px - 2px);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--main_color);
}

.main__header-input input::-webkit-input-placeholder {
  color: var(--main_color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main__header-input input:-ms-input-placeholder {
  color: var(--main_color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main__header-input input::-ms-input-placeholder {
  color: var(--main_color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main__header-input input::placeholder {
  color: var(--main_color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main__header-input input img {
  display: block;
  width: 12px;
}

.active__page-btn::after {
  content: '';
  display: block;
  width: inherit;
  height: 3px;
  background-color: var(--bgcolor_main);
}

.film__card {
  width: 309px;
  height: calc(449px + 8px + 32px);
}

.film__card-poster {
  display: block;
  width: inherit;
  border-radius: 5px;
}

.film__card-name {
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.film__card-genres {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--bgcolor_main);
  text-transform: capitalize;
}
/*# sourceMappingURL=index.css.map */