@charset "UTF-8";
@import url(d:\Проекты\Filmoteka\node_modules\modern-normalize\modern-normalize.css);
.container {
  width: 960;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 704px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 280px;
    width: unset;
  }
}

body {
  font-family: var(--font);
}

:root {
  --font: 'Roboto', sans-serif;
  --main_color: #ffffff;
  --bgcolor_main: #ff6b01;
  --text_color: #000000;
  --additional_text_color: #545454;
  --failed_color: #ff001b;
  --footer_bg_color: #f7f7f7;
}

.card-container {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px 16px;
}

@media screen and (max-width: 1023px) {
  .card-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* loader styles */
.loader__square {
  width: calc(var(--f) * 2);
  height: calc(var(--f) * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.loader__square-item {
  width: calc(var(--f) - 4px);
  height: calc(var(--f) - 4px);
  border-radius: 20%;
  border: 1px solid white;
  -webkit-box-shadow: inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #a31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #a31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.loader__square-item:nth-child(1) {
  background-color: cornflowerblue;
  -webkit-animation: square-step-1 2s linear infinite;
          animation: square-step-1 2s linear infinite;
}

.loader__square-item:nth-child(2) {
  background-color: violet;
  -webkit-animation: square-step-2 2s linear infinite;
          animation: square-step-2 2s linear infinite;
}

.loader__square-item:nth-child(3) {
  background-color: yellowgreen;
  -webkit-animation: square-step-3 2s linear infinite;
          animation: square-step-3 2s linear infinite;
}

@-webkit-keyframes square-step-2 {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  8.3% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  24.9% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  33.2% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  49.8% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  58.1% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  74.7% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  83% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes square-step-2 {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  8.3% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  24.9% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  33.2% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  49.8% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  58.1% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  74.7% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  83% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes square-step-1 {
  8.3% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  16.6% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  33.2% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  41.5% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  58.1% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  66.4% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  83% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  91.3% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes square-step-1 {
  8.3% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  16.6% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  33.2% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  41.5% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  58.1% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  66.4% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  83% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  91.3% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes square-step-3 {
  16.6% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  24.9% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  41.5% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  49.8% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  66.4% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  74.7% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  91.3% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes square-step-3 {
  16.6% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  24.9% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  41.5% {
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
  }
  49.8% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  66.4% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  74.7% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  91.3% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

/* End loader styles */
.main__header {
  max-width: 1024px;
  height: 216px;
  padding: 45px 32px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/src/images/main_bg_image.jpg);
}

@media screen and (max-width: 767px) {
  .main__header {
    padding: 40px 20px;
  }
}

.main__header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: var(--main_color);
  border: none;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35px / 30px);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .main__header-logo {
    visibility: hidden;
    width: 0px;
    padding: 0px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.main__header-logo::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(/src/images/film.svg);
  background-repeat: no-repeat;
  background-size: cover;
  fill: var(--additional_text_color);
}

@media screen and (max-width: 767px) {
  .main__header-logo::before {
    visibility: visible;
    position: absolute;
    left: 0px;
  }
}

.main__header-btn {
  background-color: transparent;
  color: var(--main_color);
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
}

.main__header-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  width: 336px;
  border-bottom: 0.5px solid var(--main_color);
}

@media screen and (max-width: 767px) {
  .main__header-input {
    max-width: 280px;
    width: unset;
  }
}

.main__header-input input {
  display: block;
  background-color: transparent;
  border: none;
  width: calc(336px - 2px);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--main_color);
}

@media screen and (max-width: 767px) {
  .main__header-input input {
    max-width: 100%;
    width: unset;
  }
}

.main__header-input input::-webkit-input-placeholder {
  color: var(--main_color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main__header-input input:-ms-input-placeholder {
  color: var(--main_color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main__header-input input::-ms-input-placeholder {
  color: var(--main_color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main__header-input input::placeholder {
  color: var(--main_color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.main__header-input input img {
  display: block;
  width: 12px;
}

.active__page-btn::after {
  content: '';
  display: block;
  width: inherit;
  height: 3px;
  background-color: var(--bgcolor_main);
}

.library__header {
  max-width: 1024px;
  height: 216px;
  padding: 45px 32px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(/src/images/library_bg_image.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/library_bg_image.jpg);
}

@media screen and (max-width: 767px) {
  .library__header {
    padding: 40px 20px;
  }
}

.library__header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.library__header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: var(--main_color);
  border: none;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35px / 30px);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .library__header-logo {
    visibility: hidden;
    width: 0px;
    padding: 0px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.library__header-logo::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(/src/images/film.svg);
  background-repeat: no-repeat;
  background-size: cover;
  fill: var(--additional_text_color);
}

@media screen and (max-width: 767px) {
  .library__header-logo::before {
    visibility: visible;
    position: absolute;
    left: 0px;
  }
}

.library__header-btn {
  background-color: transparent;
  color: var(--main_color);
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
}

.library__header-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.library__header-button {
  width: 148px;
  height: 42px;
  border: none;
  color: var(--main_color);
  text-transform: uppercase;
  background-color: #0000;
  border: 1px solid var(--main_color);
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  line-height: calc(16 / 12);
}

.library__header-button:first-child {
  margin-left: 324px;
  margin-right: 16px;
}

.active {
  background: #FF6B01;
  -webkit-filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
          filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  border: none;
}

.active__page-btn::after {
  content: '';
  display: block;
  width: inherit;
  height: 3px;
  background-color: var(--bgcolor_main);
}

.film__card {
  width: 309px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .film__card {
    width: 336px;
  }
}

@media screen and (max-width: 767px) {
  .film__card {
    width: 280px;
  }
}

.film__card-poster {
  display: block;
  width: inherit;
  border-radius: 5px;
}

.film__card-name {
  margin-top: 8px;
  margin-bottom: 0px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.film__card-genres {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--bgcolor_main);
  text-transform: capitalize;
}
/*# sourceMappingURL=index.css.map */