@import '../../node_modules/modern-normalize/modern-normalize.css';

@import './global/global';
@import './variables/variables';
@import './global/card-container';
@import './components/loader-square';

@import './components/main_header';
@import './components/switcher';
@import './components/library_header';

@import './components/film_card';

@import './components/main_footer';
