.film {
  padding: 20px;

  @media screen and (max-width: 767px) {
    padding: 20px;
  }

  @media screen and (max-width: 320px) {
    padding: 20px;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px 16px;

    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}

.no-films {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 70vh;

  & h2 {
    font-size: 48px;
    color: inherit;
    text-transform: uppercase;

    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
      var(--bgcolor_main) 0px 0px 20px, var(--bgcolor_main) 0px 0px 30px,
      var(--bgcolor_main) 0px 0px 40px, var(--bgcolor_main) 0px 0px 50px,
      var(--bgcolor_main) 0px 0px 75px;

    animation: opacity 2s 3 linear;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
