.container {
  width: 960;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 704px;
  }

  @media screen and (max-width: 767px) {
    max-width: 280px;
    width: unset;
  }
}

body {
  font-family: var(--font);
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
