.film__card {
  width: 309px;
  height: calc(449px + 8px + 32px);
}

.film__card-poster {
  display: block;
  width: inherit;

  border-radius: 5px;
}

.film__card-name {
  margin-top: 8px;
  margin-bottom: 0px;

  font-family: var(--font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;
}

.film__card-genres {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: var(--font);

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: var(--bgcolor_main);

  text-transform: capitalize;
}
