:root {
  --font: 'Roboto', sans-serif;

  //   colors

  --main_color: #ffffff;
  --bgcolor_main: #ff6b01;
  --text_color: #000000;
  --secondary_text_color: #8C8C8C;
  --additional_text_color: #545454;
  --failed_color: #ff001b;

  --footer_bg_color: #f7f7f7;
}
