.to-top{
position: fixed;
    z-index: 1;
    
    background-color: rgba(238, 229, 229, 0.503);

    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
   
    
    @media screen and (max-width: 479px) {
        border-radius: 10px;
        padding: 10px 10px 7px 10px;
        right: 10px;
        bottom: 100px;
    }
    
    @media screen and (min-width: 480px) { 
        border-radius: 10px;
        padding: 17px 10px 2px 10px;
        right: 75px;
        bottom: 100px;
    }

    // @media screen and (min-width: 768px) {
    //     border-radius: 10px;
    //     padding: 15px 12px 7px 12px;
    //     right: 25px;
    //     bottom: 120px;
    // }
    
   
}

.btn-to-top {

    background-color: rgba(238, 229, 229, 0);

    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
    border-radius: 4px;
    
    border: solid #ff6b01;
    display: inline-block;
    
   
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    
    @media screen and (max-width: 479px) {
        width: 15px;
        height:15px;
        border-width: 0 3px 3px 0;
        }

    @media screen and (min-width: 480px) {
        width: 30px;
        height: 30px;
        border-width: 0 6px 6px 0;
    }

    // @media screen and (min-width: 768px) {
    //     width: 40px;
    //     height: 40px;
    //     border-width: 0 7px 7px 0;
    // }

}

.to-top:hover {
    
    cursor: pointer;
    transform: scale(1.3);
    
}

