.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: scroll;

    opacity: 1;
    background-color: rgb(0, 0, 0, 0.25);
}

.is-hidden {
    display: none;
}

.button {
    width: 110px;
    height: 44px;

    border: 1px solid var(--text_color);
    border-radius: 5px;

    background-color: transparent;

    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    @media screen and (min-width: 1024px) {
    width: 136px;
    }

    &__orange {
        margin-right: 20px;
        border: none;
        background: var(--bgcolor_main);
        color: var(--main_color);
    }

    @media screen and (min-width: 768px) {
        margin-right: 15px;
    }
}

.modal {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 280px;
    height: max-content;
    padding: 48px 20px 40px 20px;
    background-color: var(--main_color);

    @media screen and (min-width: 768px) {
        display: flex;
        top: 219px;
        width: 704px;
    }

    @media screen and (min-width: 1024px) {
        top: 151px;
        padding-top: 40px;
        width: 814px;
    }

    &__content-wrapp {
        @media screen and (min-width: 768px) {
          display: flex;  
        }
        
    }

    &__image-wrapper {
        width: 240px;
        height: 357px;

        @media screen and (min-width: 768px) {
            width: 264px;
            height: 374px;
        }
        
        @media screen and (min-width: 1024px) {
            width: 375px;
            height: 478px;
        }
    }

    &__image {
        border-radius: 5px;
        height: 100%;
        width: 100%;
        object-fit: contain;

        @media screen and (min-width: 768px) {
            object-fit: cover;
        }
    }

    &__title {
        margin-bottom: 20px;

        font-size: 20px;
        line-height: 1.15;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            margin-top: 0;
        }

        @media screen and (min-width: 1024px) {
            font-size: 30px;
            line-height: 1.16;
        }
    }

    &__content {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;

        @media screen and (min-width: 768px) {
            width: 264px;
            margin-left: 68px;
        }

        @media screen and (min-width: 1024px) {
            width: 391px;
            margin-left: 16px;
        }
    }

    &__film-info {
        display: block;
        margin-top: 20px;

        @media screen and (min-width: 768px) {
            margin-top: 0;
            width: 264px;
        }
    }

    &__overview {
        margin-top: 20px;

        // @media screen and (min-width: 768px) {
        //     height: 236px;
        // }
    }

    &__buttons {
        display: flex;
        margin-top: 20px;
    }

    &__close-btn {
        position: absolute;
        top: 8px;
        right: 8px;

        width: 30px;
        height: 30px;

        border: none;

        background-image: url('../images/close.svg');
        background-color: transparent;
    }
}

.film-info {
    &__wrapp {
        display: flex;
        margin-right: 40px;
        width: 240px;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__property {
        margin-right: 40px;
        width: 69px;
        color: var(--secondary_text_color);
    }

    &__value {
        width: 131px;

        &--big {
            text-transform: uppercase;
        }
    }
}

.overview {
    &__title {
    text-transform: uppercase;
    }

    &__text {
        margin-top: 8px;
        line-height: 1.67;
    }
}    

